:root {
  --yellow: #f4c550;
  --light-yellow: #fbe9ba;
  --green: #9fbaae;
  --light-green: #cbded3;
  --blue: #9fb7ce;
  --light-blue: #bfd6ea;
  --red: #e0a39a;
  --light-red: #f2c0bd;
  --orange: #f0aa8d;
  --light-orange: #f4c8ba;
}
