.container {
  padding: 32px 128px 96px;
}

.teachersList {
  margin-bottom: 64px;
}

.loadMoreBtn {
  max-width: 183px;
  padding: 16px 48px;
  border-radius: 12px;
  margin: 0 auto;
  background-color: var(--yellow);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
}
